/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1d1c34;
}

body::-webkit-scrollbar-thumb {
  background: var(--primary);
}

*::selection {
  background-color: var(--hover);
  color: var(--primary);
}

:root {
  /* Colors */
  --bg-color: #ffffff;
  --primary: #fe9d0b;
  --hover: #1d1c34;

  /* Fonts */
  --h1-font: 2.2rem;
  --h2-font: 1.1rem;
  --p-font: 0.9rem;
  --spacing: 1px;
  /* Margins */
  --m-1: 0.4rem;
  --m-4: 2rem;
}

html {
  background: #000000;
  color: var(--bg-color);
}

section {
  width: 100%;
  padding: 50px 100px;
}

/*----------------- header ------------------*/
header {
  position: fixed;
  width: 100%;
  height: 53px;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 18px 100px;
  box-shadow: 0 0.5rem 50rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 100px;
  border: 3px solid var(--primary);
  border-radius: 2px;
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: var(--h2-font);
  padding: 10px 20px;
  color: var(--primary);
  font-weight: 500;
  border-radius: 3px;
  transition: all 0.3s;
}

header .navbar a:hover {
  background: var(--hover);
  color: var(--primary);
}

#menu-icon {
  font-size: var(--h2-font);
  cursor: pointer;
  display: none;
}

/*----------------- Fin header ------------------*/
/*------------- Home --------------------*/
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(1, 11, 11);
  background-image: url(../images/pexels-aditya-singh.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hom_div {
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-text {
  max-width: 70%;
  border-radius: 2%;
  padding: 20px;
  margin-top: 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.074);
  backdrop-filter: blur(42px);
  border: 1px solid var(--primary);
}

.home-text h1 {
  margin-top: 2rem;
  font-size: var(--h1-font);
  text-align: center;
  letter-spacing: var(--spacing);
  animation: typing 4s steps(40) infinite;
}

.home-text span {
  color: var(--primary);
}

.home-text h2 {
  font-size: var(--h2-font);
  margin: var(--m-1) 0;
  letter-spacing: var(--spacing);
}

.home-text p {
  text-align: justify;
  font-size: var(--p-font);
  margin-bottom: var(--m-4);
  font-weight: 400;
}

.btn {
  padding: 10px 22px;
  background: var(--bg-color);
  color: var(--hover);
  border-radius: 2px;
  transition: all 0.3s;
}

.btn:hover {
  background: var(--hover);
  color: var(--primary);
  font-weight: 800;
  border: 1px solid var(--primary);
}

/* =======================   ================ */
.about {
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  transition: all 0.3s;
}

.about-img {
  width: 34%;
  margin: 39px;
}

.about-img img {
  width: 86%;
  border: 3px solid var(--primary);
  object-fit: contain;
  object-position: center;
  border-radius: 2px;
}

.about-text {
  max-width: 500px;
}

.about-text h2 {
  font-size: var(--h1-font);
  font-weight: 600;
}

.about-text h3 {
  font-size: var(--h2-font);
  color: var(--primary);
}

.about-text p {
  font-size: var(--p-font);
  margin: 1rem 0 var(--m-4);
  text-align: justify;
  font-weight: 300;
}

/*------------- Fin Home --------------------*/

/*--------------------------Skills-----------------------*/
.skills {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
}

.heading {
  display: flex;
  justify-content: center;
  padding: 1.4rem 0;
  transition: all 0.3s;
}

.heading h2 {
  font-size: var(--h1-font);
  font-weight: 600;
  border-bottom: 2px solid var(--primary);
}

.skills-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s;
}

.skills-conte {
  width: 86%;
  height: 600px;
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skills-educ {
  width: 223px;
  height: 150px;
  margin: 0px 24px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--primary);
}

.skills-educ h2 {
  font-weight: 400;
  font-size: 15px;
}

.skills-educ p {
  margin-top: 1.5px;
  font-size: 11px;
  font-weight: 400;
}

.skills-educ h3 {
  margin-top: 1.5px;
  font-size: 9.8px;
  font-weight: 300;
}

.skills-educ span {
  margin-top: 1.5px;
  font-size: 9.5px;
  font-weight: 300;
}

.skills-bars {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.skills-text h2 {
  font-weight: 400;
}

.skills-text p {
  font-size: var(--p-font);
  margin: 1rem 0;
}

.skills-box {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills-box i {
  display: flex;
  align-items: center;
  font-size: 60px;
  color: var(--primary);
}

/*-------------------------- Fin Skills-----------------------*/

/*-------------------------- Portfolio-----------------------*/

.portfolio-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: all 0.3s;
}

.p-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: auto;
  background: #2c3e50;
  margin: 20px;
  padding: 40px;
  text-align: center;
  border-radius: 1%;
  transition: all 0.3s;
}

.p-box:hover {
  background: var(--primary);
  transition: 0.5s ease;
  /*--- hover GITHUB --  */
  &.p-box a i {
    color: var(--bg-color);
  }
}

.p-img {
  width: 218px;
  height: 218px;
  border-radius: 2%;
  border: 1px solid var(--primary);
}

.p-img img {
  width: 100%;
  height: 100%;
  border-radius: 2%;
}

.p-box h2 {
  font-size: var(--h2-font);
  font-weight: 600;
  margin: 10px 0;
}

.p-box p {
  font-size: var(--p-font);
  font-weight: 400;
  text-align: justify;
}

.p-box a {
  text-decoration: none;
}

.p-box a i {
  font-size: 35px;
  color: var(--primary);
  position: relative;
  top: 26px;
  transition: all 0.3s;
}

.p-box a i:hover{
  color: var(--hover) !important;
}

/*-------------------------- Fin Portfolio -----------------------*/

/*-------------------------- contact -----------------------*/
.contact-info{
display: block;
align-items: center;
justify-content: space-between;
}
.contact-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s;
}

.social {
  position: relative;
  bottom: 24px;
  display: flex;
  align-items: center;
}

.info-box p {
  margin-left: 1rem;
  font-weight: 400;
  margin-bottom: 9px;
  text-align: justify;
}
.info-box {
  width: 419px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.info-box i {
  font-size: 30px;
  color: var(--primary);
  margin: 12px;
  transition: all 0.3s;
}

.info-box i:hover {
  color: var(--bg-color);
}

.contact-gif {
  width: 250px;
}
.img-gif {
  width: 100%;
  border: 2px solid var(--primary);
  border-radius: 2%;
}

.copyright {
  padding: 20px;
  text-align: center;
  color: var(--primary);
  background: var(--bg-color);
  font-weight: 600;
}

/*-------------------------- Fin contact -----------------------*/

/*---------------- Responsive -----------------------*/

/* Medium devices (tablets, less than 992px) */
@media (max-width: 1199.98px) {
  .navbar {
    position: relative;
    left: 86px;
  }

  .logo {
    position: relative;
    right: 62px;
  }

  .home-text {
    margin-top: 45px;
  }
  .about-text {
    margin-bottom: 66px;
  }
  .about-img {
    width: 60%;
    margin: 39px;
  }

  .info-box {
    width: 404px;
    margin: 3rem 2rem;
  }

  .skills {
    min-height: 89vh;
  }

  .heading h2 {
    margin-top: 118px;
  }
  .contact-gif {
    width: 278px;
  }

  .skills-educ {
    width: 217px;
  }

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  #menu-icon {
    font-size: 32px;
    position: relative;
    left: 57px;
    display: initial;
    color: var(--hover);
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--bg-color);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.5s ease;
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .navbar a {
    margin: 1rem;
    padding: 1.5rem;
    display: block;
    background: var(--hover);
    border-left: 4px solid var(--primary);
  }

  .home-text {
    max-width: 410px;
  }

  .about-img img {
    width: 100%;
  }

  .contact-content {
    flex-direction: column;
  }

  .heading {
    margin-top: 154px;
  }

  .social {
    bottom: 19px;
    justify-content: center;
  }
  .heading h2 {
    margin-top: -35px;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .home-text{
    background-color: rgba(255, 255, 255, -15.926);
    backdrop-filter: blur(91px);
  }
  .home-text h1 {
    font-size: 2rem;
  }

  .home-text h2 {
    font-size: 1.3rem;
  }

  .social {
    justify-content: space-between;
  }

  .about-img {
    width: 80%;
  }
  .skills-conte {
    height: 1599px;
  }

  .skills-educ {
    width: 310px;
    height: 161px;
  }

  .skills-educ h2 {
    font-weight: 400;
    font-size: 18px;
  }
  .skills-educ h3 {
    font-size: 13px;
  }

  .skills-educ p {
    font-size: 16px;
  }

  .heading {
    margin-top: 9px;
  }

  .info-box {
    width: 100%;
  }

  .contact-content {
    margin: 0px 0px 0px -49px;
  }

  .contact-gif {
    width: 278px;
    margin: 0px 0px 0px 83px;
  }
}
/* Xx-Small devices (portrait phones, less than 476px) * */

@media (max-width: 475.98px) {
  .logo img {
    display: none;
  }

  .home-text {
    width: 377px;
  }

  .skills {
    width: 100%;
    min-height: 100vh;
  }

  .about-img {
    width: 30rem;
  }
  .about-img img {
    width: 16rem;
  }

  .skills-box i {
    font-size: 35px;
    margin: 16px;
  }

  .about-text p {
    width: 20rem;
  }

  .skills-educ {
    width: 263px;
  }

  .contact-content {
    width: 327px;
    position: relative;
    display: block;
    right: 42px;
  }

  .info-box p {
    margin-left: 0px;
  }

  .skills-conte {
    width: auto;
  }

  .contact-gif {
    width: 12rem;
    height: 13rem;
    margin: 0px 0px 0px 96px;
  }

  .img-gif {
    width: 100%;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 360.98px) {
  .home-text {
    width: 321px;
  }
  .contact-content {
    right: 107px;
  }
}
